#draw {
    display: block;
    margin: auto;
    border: 1px solid #000000;
    background-color: whitesmoke;
}

p {
    text-align: center;
}

#canvas {
    text-align: center;
}

#colourOne {
    height: 200px;
    opacity: 0.5;
    margin: 0;
    top: 0;
    position: absolute;
    width: 100%;
}

#colourTwo {
    height: 200px;
    opacity: 0.5;
    margin: 0;
    bottom: 0;
    position: absolute;
    width: 100%;
}